In [1]:
import pandas as pd
import numpy as np


data =  pd.read_csv('D:/Usuario/Documents/MeusDados/coursera/gapminder.csv')#marscrater_pds.csv nesarc_pds.csv addhealth_pds.csv gapminder.csv ool_pds.csv

print(len(data))            #The number of observation (rows)
print('variables:', len(data.columns))    #The number of variables (columns)
#print(data.head(5))

213
variables: 16

In [2]:
data.columns

Index(['country', 'incomeperperson', 'alcconsumption', 'armedforcesrate',
       'breastcancerper100th', 'co2emissions', 'femaleemployrate', 'hivrate',
       'internetuserate', 'lifeexpectancy', 'oilperperson', 'polityscore',
       'relectricperperson', 'suicideper100th', 'employrate', 'urbanrate'],
      dtype='object')

In [6]:
sub1 = data.filter(['country', 'incomeperperson', 'lifeexpectancy', 'femaleemployrate', 'employrate', 'urbanrate', 'internetuserate', 'co2emissions', 'oilperperson', 'relectricperperson'])
sub1.head()

,country,incomeperperson,lifeexpectancy,femaleemployrate,employrate,urbanrate,internetuserate,co2emissions,oilperperson,relectricperperson
0,Afghanistan,,48.673,25.6000003814697,55.7000007629394,24.04,3.65412162280064,75944000,,
1,Albania,1914.99655094922,76.918,42.0999984741211,51.4000015258789,46.72,44.9899469578783,223747333.333333,,636.341383366604
2,Algeria,2231.99333515006,73.131,31.7000007629394,50.5,65.22,12.5000733055148,2932108666.66667,.42009452521537,590.509814347428
3,Andorra,21943.3398976022,,,,88.92,81,,,
4,Angola,1381.00426770244,51.093,69.4000015258789,75.6999969482422,56.7,9.99995388324075,248358000,,172.999227388199

In [12]:
sub1.describe()

,country,incomeperperson,lifeexpectancy,femaleemployrate,employrate,urbanrate,internetuserate,co2emissions,oilperperson,relectricperperson
count,213,213,213,213,213,213,213,213,213,213
unique,213,191,190,154,140,195,193,201,64,133
top,Iraq,,,,,,,,,
freq,1,23,22,35,35,10,21,13,150,77

In [13]:
c1= data['incomeperperson'].value_counts(sort=False)
print(c1)
p1 = data['incomeperperson'].value_counts(sort=False, normalize=True)
print(p1)

4189.43658749046    1
1914.99655094922    1
595.874534521728    1
5332.23859142075    1
5182.14372064153    1
                   ..
1194.71143337515    1
24496.0482640925    1
6238.53750622149    1
8614.12021915499    1
31993.2006943997    1
Name: incomeperperson, Length: 191, dtype: int64
4189.43658749046    0.004695
1914.99655094922    0.004695
595.874534521728    0.004695
5332.23859142075    0.004695
5182.14372064153    0.004695
                      ...
1194.71143337515    0.004695
24496.0482640925    0.004695
6238.53750622149    0.004695
8614.12021915499    0.004695
31993.2006943997    0.004695
Name: incomeperperson, Length: 191, dtype: float64